@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: lemonchiffon;
    margin: 0;
    padding: 20px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav__bar {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--primary-color);
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__logo img {
  max-width: 75px;
  border-radius: 50%;
}

.nav__logo span {
  font-size: 1.75rem;
  font-weight: 500;
  color: black;
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgba(9, 24, 29, 0.9);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  transition: 0.3s;
}

.nav__links a:hover {
  color: blue;
}

@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__bar {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo span {
    display: flex;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: transparent;
  }
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

h1 {
    color: #333;
}

.pets-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pet-card {
    background-color: lightgoldenrodyellow;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
}

.pet-card img {
    width: 100%;
    border-radius: 8px;
}

.pet-name {
    font-size: 1.2em;
    margin: 10px 0;
}

.pet-price {
    font-size: 1em;
    color: #28a745;
    margin: 5px 0;
}
